<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;
1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            archivo: ['Archivo']
          },
          colors: {
          }
        }
      }
    }
  </script>
</head>
<body class="select-none">
  <div id="nav" class="shadow-green-600 drop-shadow-2xl max-w-[360px] bg-gradient-to-r from-green-600 via-green-500 to-green-600 max-h-[56px] h-[56px] select-none">
    <button href="" class="block float-right drop-shadow-xl hover:select-none"><img src="images/More (Green).png" alt="More" id="more" class="rounded-full w-[40px] mx-4 float-right mt-2"></button>
  </div>
  <div id="body" class="max-w-[300px] mx-auto mt-8">
    <h1 id="name" class="font-archivo font-bold text-xl tracking-wider mb-2 text-slate-800">Muhammad Dzaki Gunawan</h1>
    <h2 id="title"class="font-archivo font-semibold text-xl tracking-wider  text-slate-800">Junior Software Engineer</h2>
    <img src="" alt="Muhammad Dzaki Gunawan.png" class="border-solid border-2 rounded-full w-[200px] h-[200px] mt-5">
  </div>
  <div id="about" class="max-w-[330px] mx-auto text-left mt-28 mb-12">
    <h1 class="font-archivo font-semibold text-slate-800 tracking-wider">I am a Junior Software Engineer, Curently learning in SMKN 4 Bandung <br>
      <span class="text-slate-800 text-transparent bg-gradient-to-r tracking-wider from-green-500 to-green-600 bg-clip-text">
      I am lack of experience - Creating website design, and a former game developer on the <span class="text-red-600 font-extrabold">ROBLOX</span> platform.</span></h1>
      <p class="text-center mt-10 font-extrabold font-archivo">March 2023 - Current</p>
  </div>
  <div id="knowledge" class="bg-green-500 h-[1080px]">
    <svg id="wave" class="drop-shadow-xl"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="10" d="M0,192L26.7,176C53.3,160,107,128,160,106.7C213.3,85,267,75,320,96C373.3,117,427,171,480,192C533.3,213,587,203,640,170.7C693.3,139,747,85,800,64C853.3,43,907,53,960,69.3C1013.3,85,1067,107,1120,106.7C1173.3,107,1227,85,1280,80C1333.3,75,1387,85,1413,90.7L1440,96L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>
    <h1 id="wcid" class="text-center font-bold font-archivo text-lg text-white my-10">What can i do?</h1>
    <div class="container grid grid-cols-2 max-w-[300px] mx-auto space-x-12 mt-14">
      <img src="images/HTML5_logo_and_wordmark.png" alt="html.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
      <img src="images/CSS_logo.png" alt="css.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
      </div>
      <div class="container grid grid-cols-2 max-w-[300px] mx-auto mt-2 space-x-[46px]">
      <p class="block font-archivo font-semibold text-white text-center max-w-full mr-12">HTML</p>
      <p class="block font-archivo font-semibold text-white text-center max-w-full">CSS</p>
    </div>
    <div class="container grid grid-cols-2 max-w-[300px] mx-auto space-x-12 mt-14">
      <img src="images/PHP_logo.png" alt="php.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
      <img src="images/MySQL_logo.png" alt="SQL.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
      </div>
      <div class="container grid grid-cols-2 max-w-[300px] mx-auto mt-2 space-x-[48px]">
        <p class="block font-archivo font-semibold text-white text-center max-w-full mr-[50px]">PHP</p>
        <p class="block font-archivo font-semibold text-white text-center max-w-full">SQL</p>
      </div>
      <hr class="mt-10 max-w-[300px] block mx-auto h-0.5 rounded-full bg-white">
      <h1 class="text-center font-bold font-archivo text-lg text-white my-10 mb-8">Frameworks</h1>
      <div class="container grid grid-cols-2 max-w-[300px] mx-auto space-x-12 mt-14">
        <img src="images/Tailwindlogo.png" alt="tailwind.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
        <img src="images/Laravel_logo.png" alt="laravel.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
        </div>
        <div class="container grid grid-cols-2 max-w-[300px] mx-auto mt-2 space-x-[48px]">
          <p class="block font-archivo font-semibold text-white text-center max-w-full mr-[50px]">Tailwind</p>
          <p class="block font-archivo font-semibold text-white text-center max-w-full">Laravel</p>
        </div>
        <div class="grid grid-cols-1 max-w-[300px] mt-2 place-items-center mx-auto mb-12">
          <img src="images/Bootstrap_logo.png" alt="bootstrap.png" class="bg-white p- rounded-full w-[100px] drop-shadow-xl">
          <p class="block font-archivo mt-2 font-semibold text-white text-center max-w-full mb-12">Bootstrap</p>
        </div>
        <div class="max-w-[360px] bg-green-500 h-[920px]">
          <h1 class="text-center font-bold font-archivo text-lg text-white my-10">Know more about me</h1>
          <h2 class="text-left ml-4 font-semibold font-archivo text-md mt-24 text-white">Things i like</h2>
          <ul class="text-left ml-4 font-semibold font-archivo text-sm mt-6 text-white">
            <li>Games</li>
            <li>Music</li>
            <li>Anime</li>
          </ul>
          <hr class="mt-2 max-w-[140px] ml-2">
          <h2 class="text-left ml-4 font-semibold font-archivo text-md mt-8 text-white">Games i play</h2>
          <ul class="text-left ml-4 font-semibold font-archivo text-sm mt-6 text-white">
            <li>Valorant -        <span class="select-text">Tez1ru#09116</span></li>
            <li>Mobile Legends -  <span class="select-text">501198229 (8006)</span></li>
            <li>Genshin Impact -  <span class="select-text">841226108</span></li>
            <li>ROBLOX -          <span class="select-text">Tez1ru</span></li>
          </ul>
          <hr class="mt-2 max-w-[270px] ml-2">
          <h2 class="text-left ml-4 font-semibold font-archivo text-md mt-8 text-white">My favorite musics</h2>
          <ul class="text-left ml-4 font-semibold font-archivo text-sm mt-6 text-white">
            <li>Matsuri - Fujii Kaze</li>
            <li>It Will Rain - Bruno Mars</li>
            <li>Mr. Loverman - Rick Montgomery</li>
            <li>Specialz - King Gnu</li>
            <li>Amtrak - Los Retros</li>
          </ul>
          <p class="text-left ml-4 font-semibold font-archivo text-md mt-2 text-white">My Spotify - <span class="bg-gradient-to-r from-purple-600 to-purple-400 text-transparent bg-clip-text select-text drop-shadow-md">Tez1ru.</span></p>
          <hr class="mt-2 max-w-[250px] ml-2">
          <h2 class="text-left ml-4 font-semibold font-archivo text-md mt-8 text-white">My favorite animes</h2>
          <ul class="text-left ml-4 font-semibold font-archivo text-sm mt-6 text-white">
            <li>One Piece</li>
            <li>Bleach</li>
            <li>Hunter X Hunter</li>
            <li>Jujutsu Kaisen</li>
            <li>JoJo's Bizzare Adventure</li>
          </ul>
          <hr class="mt-2 max-w-[200px] ml-2">
        </div>
        <div class="max-w-[360px] bg-slate-800">
          e
          
        </div>
  </div>
</body>
</html>